
<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <h1>

    <strong>La Réussite Immobilière</strong>
  </h1>
   
    <p> Votre application  de recherche Immobilière  à Nouakchott</p>

<div class="image">
  <!-- <img src="assets/images/logo2.png" alt="logo"> -->
  
</div>

<!-- <form action="">
 <fieldset>
   <legend>Galeries</legend> -->
   <ion-grid>
     <ion-row>
       <ion-col size="12">
         
         <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav
         (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
         <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img  src="assets/slider/{{s.id}}.jpg">
            <span class="slide-text">{{s.name}}</span>
          </ion-slide>
        </ion-slides>

      </ion-col>

    </ion-row>
  </ion-grid>
 <!-- </fieldset> 
</form> -->

  
  <form >
    
      <!-- <ion-button expand="block" shape="round" routerLink="/inscription">Inscription</ion-button> -->
    <ion-button class="entrez" expand="block" shape="round"  routerLink="/connexion" >Entrez </ion-button>
    <!-- <ion-button expand="block" shape="round" routerLink="/devise">Devise</ion-button> -->
  </form>
  </ion-content>

